@model MotorMarket.Models.ViewModels.MotorViewModel
@using MotorMarket.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        var MainDDL = $("#Make");
        var ModelDDL = $("#Model");
        ModelDDL.prop('disabled', true);

        MainDDL.change(function () {
            if ($(this).val() == "0") {
                ModelDDL.prop('disabled', true);
                ModelDDL.val("0");
            }
            else {
                $.ajax({
                    url: "/api/models/" + $(this).val(),
                    method: "get",
                    success: function () {
                        ModelDDL.prop('disabled', false);
                        ModelDDL.empty();
                        ModelDDL.append($('<option/>', { value: '0', text: '-Model Seçiniz-' }));
                        $(data).each(function (index, item) {
                            ModelDDL.append($('<option/>', { value: item.id, text: item.name }));
                        });
                    }
                });
            }
        });
    });
</script>

<h2>Motorsiklet Oluştur</h2>
<form method="post" enctype="multipart/form-data"Create">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Mains"> </label>
        </div>
        <div class="col-4">
            <select asp-for="Motorsiklet.MainID" asp-items="Model.Mains.ToSelectListItem()" class="form-control" id="Main"></select>
            <span asp-validation-for="Motorsiklet.MainID" class="text-danger"></span>

        </div>
        <div class="col-auto">
            <label asp-for="Motorsiklet.ImagePath"> </label>
        </div>
        <div class="col-4">
            <input type="file" name="files" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Models"> </label>
        </div>
        <div class="col-4">
            <select asp-for="Motorsiklet.ModelID" asp-items="Model.Models.ToSelectListItem()" class="form-control" id="Model"></select>
            <span asp-validation-for="Motorsiklet.ModelID" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Motorsiklet.Yil"> </label>
        </div>
        <div class="col-4">
            <input asp-for="Motorsiklet.Yil" class="form-control"></input>
            <span asp-validation-for="Motorsiklet.Yil" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Motorsiklet.KM"> </label>
        </div>
        <div class="col-4">
            <input asp-for="Motorsiklet.KM" class="form-control"></input>
            <span asp-validation-for="Motorsiklet.KM" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Motorsiklet.Fiyat"> </label>
        </div>
        <div class="col-4">
            <input asp-for="Motorsiklet.Fiyat" class="form-control"></input>
            <span asp-validation-for="Motorsiklet.KM" class="text-danger"></span>

        </div>
        <div class="col-1">
            <label asp-for="Motorsiklet.Para"> </label>

        </div>
        <div class="col-4">
            <select asp-for="Motorsiklet.Para" asp-items="Model.Currencies.ToSelectListItem()" class="form-control"></select>
            <span asp-validation-for="Motorsiklet.Para" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Motorsiklet.Ozellikler"> </label>
        </div>
        <div class="col-4">
            <textarea asp-for="Motorsiklet.Ozellikler" class="form-control"></textarea>
            <span asp-validation-for="Motorsiklet.Ozellikler" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Motorsiklet.SaticiName"> </label>
        </div>
        <div class="col-4">
            <input asp-for="Motorsiklet.SaticiName" class="form-control"></input>
            <span asp-validation-for="Motorsiklet.SaticiName" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Motorsiklet.SaticiEmail"> </label>
        </div>
        <div class="col-4">
            <input asp-for="Motorsiklet.SaticiEmail" class="form-control"></input>
            <span asp-validation-for="Motorsiklet.SaticiEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Motorsiklet.SaticiTelefon"> </label>
        </div>
        <div class="col-4">
            <input asp-for="Motorsiklet.SaticiTelefon" class="form-control"></input>
            <span asp-validation-for="Motorsiklet.SaticiTelefon" class="text-danger"></span>

        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" class="btn btn-success">Geri</a>
    </div>
</form>

